* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #3C3B3A;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}

body::-webkit-scrollbar {
  width: 0;
}

main {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

h1 {
  color: white;
  font-size: 2.5rem;
  margin-top: 25px;
}

canvas {
  background-color: white;
  border-radius: 5px;
  width: 100%;
  cursor: crosshair;
  box-shadow: 2px 2px 15px black;
}

#section-colors {
  width: 100%;
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 15px;
}

.colors {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 2px solid white;
  cursor: pointer;
}

.colors:active {
  transform: scale(1.2);
}

.orange {
  background-color: #FF6707;
}

.blue {
  background-color: #010788;
}

.red {
  background-color: #FF0000;
}

.purple {
  background-color: #520046;
}

.pink {
  background-color: #FD0099;
}

.green {
  background-color: #00E940;
}

.brown {
  background-color: #521A03;
}

.black {
  background-color: #000;
}

#section-configs {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

input {
  width: 75%;
}

div {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

span {
  color: white;
  font-size: 17px;
}

#undo, #clean {
  font-size: 17px;
  padding: 8px 13px;
  border-radius: 8px;
  color: white;
  font-weight: 500;
  border: none;
  cursor: pointer;
  height: 75%;
  display: flex;
  align-items: center;
}

#undo {
  background-color: #E616F3;
}

#undo:hover {
  background-color: #f671ff;
  color: black;
}

#clean {
  background-color: #00CECC;
}

#clean:hover {
  background-color: #76fdfb;
  color: black;
}

#eraser {
  background-color: transparent;
  border: none;
  width: 15%;
  cursor: pointer;
}

svg {
  width: 100%;
  height: 100%;
}

button:hover > svg > path {
  fill: #000;
}

@media (min-width: 375px) {
  h1 {
    font-size: 2.7rem;
  }

  span {
    font-size: 20px;
  }

  #undo, #clean {
    font-size: 20px;
  }

  .colors {
    width: 55px;
    height: 55px;
  }
}

@media (min-width: 500px) {
  h1 {
    font-size: 3rem;
  }

  #undo, #clean {
    font-size: 22px;
  }

  span {
    font-size: 22px;
  }

  .colors {
    width: 65px;
    height: 65px;
  }
}

@media (min-width: 600px) {
  main {
    width: 80%;
  }
}

@media (min-width: 700px) {
  main {
    width: 70%;
  }

  #section-configs {
    flex-direction: row;
  }

  .colors {
    width: 75px;
    height: 75px;
  }
}

@media (min-width: 1000px) {
  main {
    width: 80%;
    gap: 20px;
  }

  h1 {
    font-size: 3.7rem;
    margin-top: 0px;
  }
  
  #undo, #clean {
    font-size: 1.5rem;
  }

  span {
    font-size: 1.5rem;
  }

  #section-colors {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}

@media (min-width: 1100px) {
  main {
    width: 80%;
    gap: 20px;
  }

  canvas {
    height: 50%;
  }

  div {
    justify-content: space-around;
  }

  #section-colors {
    width: 90%;
  }

  #section-configs {
    width: 75%;
  }
}